.container{
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-family: "Helvetica Neue";
}
.background_img{
    margin: 0;
    overflow: hidden;
}
.background_img img{
    display: block;
    padding:0;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}
.name_button{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    background: white;
    width:30%;
    text-align: center;
    padding:1px;
    color: black;
}
.name_button:hover{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    background: black;
    color: white;
    width:30%;
    text-align: center;
    padding:1px;
    cursor: pointer;
}
.name_button p{
    letter-spacing: 5px;
}