.container{
    font-family: Helvetica;
}
.heading li{
    display: inline;
    border: none;
    margin-left: 90%;
    font-size: 50px;
}
#home:hover{
    border-bottom: black 2px solid;
    cursor: pointer;
}
#title  {
    font-size: 3rem;
    text-underline: black;
}
.main img{
    width: 100%;
}
.wrapper{
    display: inline-block;
    min-height: 300px;
    margin: 2%;
    vertical-align: top;
}
#interior1{
    width: 60%;
}
#interior2{
    width: 30%;
}
.footer{
    text-align: center;
    padding: 50px;
}
.footer li{
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}
.Email{
    width: 50px;
    height: 50px;
    border: none;
    background: url("../Email_outline.png") no-repeat;
    background-size: cover;
}
.Email:hover{
    cursor: pointer;
    background: url("../Email_filled.png") no-repeat;
    background-size: cover;
    size: 50px 50px;
}