.container{
    font-family: Helvetica;
}
.heading li{
    display: inline;
    margin-left: 90%;
}
.heading:hover{
    cursor: pointer;
}
#about{
    font-size: 1.2rem;
}
#about:hover{
    border-bottom: 2px black solid;
    transition-duration: 0.2s;
}
.heading:hover ~ .heading-desc{
    color: black;
    font-size: 1.4rem;
    transition-duration: 0.5s;
}
.heading-desc{
    color: transparent;
    font-size: 0;
    padding: 0;
    margin: 0;
    transition-duration: 0.5s;
}
.images{
    width: 100%;
}
.interior{
    position: relative;
    text-align: left;
    color: transparent;
    display: inline-block;
    width: 31%;
    height: 600px;
    margin:1%;
}
.interior img{
    width:100%;
    height: 100%;
}
.interior_desc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s ease;
}
.interior_desc:hover{
    background: blue;
    opacity: 0.75;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}
.interior_desc p{
    margin-left:10px;
    margin-top: 8px;
    font-size: 2rem;
}
.process{
    position: relative;
    text-align: left;
    color: transparent;
    display: inline-block;
    width: 31%;
    height: 600px;
    margin: 1%;
}
.process img{
    width: 100%;
    height: 100%
}
.process_desc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
}
.process_desc:hover{
    background: blue;
    opacity: 0.75;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}
.process_desc p{
    margin-left:10px;
    margin-top: 8px;
    font-size: 2rem;
}
.tbc{
    display: inline-block;
    width: 31%;
    height: 400px;
    margin:1%;
    float: top;
}
.tbc img{
    width: 100%;
    height: 100%;
}
.paintings{
    position: relative;
    display: inline-block;
    width: 98%;
    height: 400px;
    margin:1%;
    float: top;
    color: transparent;
}
.paintings img{
    width: 100%;
    height: 100%;
}
.paintings_desc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
    overflow: hidden;
}
.paintings_desc:hover{
    background: blue;
    opacity: 0.75;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}
.paintings_desc p{
    margin-left:10px;
    margin-top: 8px;
    font-size: 2rem;
}

.dog{
    position: relative;
    text-align: left;
    color: transparent;
    display: inline-block;
    width: 31%;
    height: 600px;
    margin:1%;
    min-width: 300px;
}
.dog img{
    width:100%;
    height: 100%;
}
.dog_desc{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s ease;
}
.dog_desc:hover{
    background: blue;
    opacity: 0.75;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}
.dog_desc p{
    margin-left:10px;
    margin-top: 8px;
    font-size: 2rem;
}

.tower{
    position: relative;
    text-align: left;
    color: transparent;
    display: inline-block;
    width: 31%;
    height: 600px;
    margin:1%;
    min-width: 300px;
}
.tower img{
    width:100%;
    height: 100%;
}
.tower_desc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s ease;
}
.tower_desc:hover{
    background: blue;
    opacity: 0.75;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}
.tower_desc p{
    margin-left:10px;
    margin-top: 8px;
    font-size: 2rem;
}

.grey{
    position: relative;
    text-align: left;
    color: transparent;
    display: inline-block;
    width: 31%;
    height: 600px;
    margin:1%;
    min-width: 300px;
}
.grey img{
    width:100%;
    height: 100%;
}
.grey_desc{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s ease;
}
.grey_desc:hover{
    background: blue;
    opacity: 0.75;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}
.grey_desc p{
    margin-left:10px;
    margin-top: 8px;
    font-size: 2rem;
}
.footer{
    text-align: center;
    padding: 50px;
}
.footer li{
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}
.Email{
    width: 50px;
    height: 50px;
    border: none;
    background: url("Email_outline.png") no-repeat;
    background-size: cover;
}
.Email:hover{
    cursor: pointer;
    background: url("Email_filled.png") no-repeat;
    background-size: cover;
    size: 50px 50px;
}